html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: #15101d; }
  @media (max-width: 768px) {
    html {
      font-size: 14px; } }

body {
  color: #fff;
  font-family: 'Rubik', sans-serif; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: none; }

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(21, 16, 29, 0.8);
  z-index: 2019; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .nav__item {
    padding: 0;
    margin: 0; }
  .nav__link {
    color: #fff;
    font-weight: 300;
    display: block;
    padding: .5rem;
    letter-spacing: .05rem;
    text-decoration: none; }

.hero {
  padding: 80px 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px) {
    .hero {
      padding: 30px 1rem; } }
  .hero__header {
    font-size: 4rem;
    margin: 0 0 1rem;
    color: #E34A40; }
    @supports (-webkit-background-clip: text) {
      .hero__header {
        background: -webkit-gradient(linear, left top, right top, from(#E34A40), to(#F3A712));
        background: -webkit-linear-gradient(left, #E34A40, #F3A712);
        background: -o-linear-gradient(left, #E34A40, #F3A712);
        background: linear-gradient(to right, #E34A40, #F3A712);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; } }

.content {
  display: block;
  padding: 80px 1rem; }
  @media (max-width: 768px) {
    .content {
      padding: 30px 1rem; } }
  .content__header {
    font-size: 1.5rem;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 2rem; }

.sources {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0;
  padding: 0; }
  .sources__item {
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: .5rem; }
    .sources__item:before {
      position: absolute;
      content: '</>';
      bottom: 0;
      right: .5rem;
      font-size: 4rem;
      font-weight: 700;
      opacity: 0.3;
      bottom: -100%;
      -webkit-transition: 0.3s ease-in-out bottom;
      -o-transition: 0.3s ease-in-out bottom;
      transition: 0.3s ease-in-out bottom;
      will-change: bottom;
      -webkit-transform: rotate(15deg);
          -ms-transform: rotate(15deg);
              transform: rotate(15deg);
      color: #56E39F; }
      @supports (-webkit-background-clip: text) {
        .sources__item:before {
          background: -webkit-gradient(linear, left top, right top, from(#56E39F), to(#01BAEF));
          background: -webkit-linear-gradient(left, #56E39F, #01BAEF);
          background: -o-linear-gradient(left, #56E39F, #01BAEF);
          background: linear-gradient(to right, #56E39F, #01BAEF);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-box-decoration-break: clone;
          box-decoration-break: clone; } }
    .sources__item:hover:before {
      bottom: -10%; }
  @media (max-width: 960px) {
    .sources {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 640px) {
    .sources {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }

.source {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 10; }
  .source__title {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .8rem; }
  .source__description {
    font-size: .9rem;
    opacity: .8; }

.footer {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: .8rem;
  font-weight: 300;
  color: #838383;
  background: #000; }

.special {
  color: #56E39F; }
  @supports (-webkit-background-clip: text) {
    .special {
      background: -webkit-gradient(linear, left top, right top, from(#56E39F), to(#01BAEF));
      background: -webkit-linear-gradient(left, #56E39F, #01BAEF);
      background: -o-linear-gradient(left, #56E39F, #01BAEF);
      background: linear-gradient(to right, #56E39F, #01BAEF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; } }

.help {
  color: #F3A712; }
  @supports (-webkit-background-clip: text) {
    .help {
      background: -webkit-gradient(linear, left top, right top, from(#F3A712), to(#E34A40));
      background: -webkit-linear-gradient(left, #F3A712, #E34A40);
      background: -o-linear-gradient(left, #F3A712, #E34A40);
      background: linear-gradient(to right, #F3A712, #E34A40);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; } }

.panic {
  margin: 0; }
  .panic__item {
    line-height: 2rem; }

/*# sourceMappingURL=main.css.map */
