$special: #E34A40;
$link: #F3A712;
$accent-1: #56E39F;
$accent-2: #59C9A5;
$accent-3: #01BAEF;
$accent-4: #85BDBF;

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
  scroll-behavior: smooth;
  background: rgb(21, 16, 29);
}

body {
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(21, 16, 29, .8);
  z-index: 2019;
  @media (max-width: 768px) {
    display: none;
  }
  &__list {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    padding: 0;
    margin: 0;
  }
  &__link {
    color: #fff;
    font-weight: 300;
    display: block;
    padding: .5rem;
    letter-spacing: .05rem;
    text-decoration: none;
  }
}

.hero {
  padding: 80px 2rem;
  display: flex;
  min-height: 30vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    padding: 30px 1rem;
  }
  &__header {
    font-size: 4rem;
    margin: 0 0 1rem;
    color: $special;
    @supports (-webkit-background-clip: text) {
      background: linear-gradient(to right, $special, $link);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}

.content {
  display: block;
  padding: 80px 1rem;
  @media (max-width: 768px) {
    padding: 30px 1rem;
  }
  &__header {
    font-size: 1.5rem;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 2rem;
  }
}

.sources {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0;
  padding: 0;
  &__item {
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: .5rem;
    &:before {
      position: absolute;
      content: '</>'; 
      bottom: 0;
      right: .5rem;
      font-size: 4rem;
      font-weight: 700;
      opacity: 0.3;
      bottom: -100%;
      transition: 0.3s ease-in-out bottom;
      will-change: bottom;
      transform: rotate(15deg);
      color: $accent-1;
      @supports (-webkit-background-clip: text) {
        background: linear-gradient(to right, $accent-1, $accent-3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }
    &:hover:before {
      bottom: -10%;
    }
  }
  @media (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.source {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 10;
  &__title {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }
  &__description {
    font-size: .9rem;
    opacity: .8;
  }
}


.footer {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: .8rem;
  font-weight: 300;
  color: rgb(131, 131, 131);
  background: #000;
}

.special {
  color: $accent-1;
  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to right, $accent-1, $accent-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.help {
  color: $link;
  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to right, $link, $special);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.panic {
  margin: 0;
  &__item {
    line-height: 2rem;
  }
}